#detalle-producto {
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

h1 { font-size: 250% }

p {font-size: 110%}
.container-comentarios {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    font-size: 2.2vh;
    color: rgb(84,84,84);
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  .comentarios-usuario {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  }
  
  .nombre-usuario {
    font-weight: bold;
    font-size: 14px;
    color: #000408c5;
  }
  
  .titulo-comentarios{
    margin-top: 50px;
    font-size: 3.3vh;
    color: rgb(20, 20, 20);
    font-weight: 510;
    margin-bottom: 30px;
  }
  .comment-control {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    border-radius: 4px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  #commentScore {
    margin-bottom: 10px;
    padding: 5px;
    width: 20%;
    height: 40px;
    border-radius: 5px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  .label1 {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  .info-producto {
    margin-top: 50px;
  }
  #opinion{
    font-family: inherit;
    line-height: inherit;
  }
  #agregar{
    height: 50px;
    vertical-align: text-bottom;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background-color: rgb(20, 20, 20);
  }
  span img {

    width: 45px;
  
  }

.info-producto{
text-align: center;
  }

.image-relatedproducts {
  width: 280px;
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  height: auto;
}

.container-relatedproducts{

  flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-left: 20px;
 margin-right: 20px;
}

.title-relatedproducts {
  margin-top: 7px;
}

#related-products {
  display: flex;
  cursor: pointer;
  justify-content: center;
  margin-top: 20px;
}

.title-relatedProducts {
  margin-top: 25px;
  font-weight: bold;
}

.container-relatedproducts:hover {
  transform: scale(1.1);
  animation-duration: 1ms;
  transition: 0.4s;
  background-color: rgba(231, 231, 231, 0.534);
}

/*responsive*/

@media(max-width: 768px) {
  h1 {
    font-size: 160%;
    text-align: center;
    margin-bottom: 7%;
  }
  p {
    font-size: 85%;
  }
  .container {
    width: 90%;
  }
  .carousel-inner{
    width:100%;
  }
  img {
    width: 100%;
  }
  h5 {
    font-size: 110%;
  }
  h6 {
    font-size: 90%;
  }
  .label1{
    font-size: 90%;
  }
  #commentScore {
    width: 50%;
  }
  .container-comentarios p {
    text-align: left;
  }
  #related-products {
    flex-direction: column;
    text-align: center;
  }
  #related-products img {
    width: 70%;
  }
  .text-muted {
    text-align: center;
  }
}